repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.3
    hooks:
      - id: prettier

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
      - id: biome-check
      - id: biome-format

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
        additional_dependencies:
          - pydantic

  - repo: https://github.com/DetachHead/basedpyright-prek-mirror
    rev: 1.34.0
    hooks:
    - id: basedpyright
