name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 1 * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Update pre-commit hooks
        run: uvx prek auto-update

      - name: Formatting
        run: uvx tombi format prek.toml

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Update pre-commit hooks"
